

<mat-grid-list cols="2" rowHeight="2:2">
    <mat-grid-tile>
        <mat-card-header>           
            <mat-list>
                <mat-list-item>Hexagonal Arch</mat-list-item>
                <button mat-stroked-button color="primary" (click)="getPoems('en')"> Poems English !! </button>
                <mat-divider></mat-divider>
                <button mat-stroked-button color="primary" (click)="getPoems('de')"> Poems Deutsch !! </button>
                <mat-divider></mat-divider>
            </mat-list> 
        </mat-card-header>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-content>
                <p *ngFor="let verse of verses">
                    <span class="badge">{{verse}}</span>
                </p>
            </mat-card-content>                    
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
      
